// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body{
	background-color:black;
	font-size:5px;
}

#output{
	position:absolute;
	top:0;
	right:0;
	font-size:14px;	
	width:100%;
}

@keyframes rotate{
	from{
		transform: rotate(0deg);
	}

	to{
		transform: rotate(360deg);
	}
}
.windTurbine{

	position:absolute;
	top:40%;
	left:50%;
	
	.rotor{

		width:4em;
		height:4em;
		background-color: white;
		border-radius:50%;
		position: absolute;
		animation-name: rotate;
		animation-duration: 1s;
		animation-iteration-count: 1000;
		animation-timing-function: linear;

		.blade{
			width: 32em;
			height: 1em;
			background-color: white;
			position:absolute;
			top: 1em;
			left: 2em;
			border-radius: 0 3em 5em 0;
			transform-origin: 0 1em;

			&:before{
				content: "";
				background-color:white;
				position:absolute;
				width: 5em;
				height: 2em;
			}

			&:after{
				content: "";
				width: 1.5em;
				position: absolute;
				top: 1em;
				left: 2em;
				border-top: 2em solid white;
				border-right: 22em solid transparent;
				border-left: 6em solid transparent;
			}


		}

		.b1{
			transform: rotate(0deg);
		}

		.b2{
			transform: rotate(120deg);
		}

		.b3{
			transform: rotate(240deg);

		}
		

	}
	.leg{

		width: 3em;
		margin: 2em 0.5em;
		border-bottom: 60em solid grey;
		border-right: 1em solid transparent;
		border-left: 1em solid transparent;

	}


}

.card{
    padding: 30px;
    margin: 20px;
    background-color: #F8F8FF;
    font-weight: bold;
}
.cd{
    background-color: gold;
}
.ls{
    background-color: #DC143C;
    color: white;
}
.cdls{
    background-color: #D2691E;
    color: white;
}